*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    display: flex;
}
.facebook:hover {
    color: #3b5998; /* Facebook blue color */
  }
  
  /* Twitter icon */
.twitter:hover {
    color: #1da1f2; /* Twitter blue color */
  }
  /* LinkedIn icon */
.linkedin-in:hover  {
    color: #0077b5; /* LinkedIn blue color */
  }
  
  /* GitHub icon */
.github:hover  {
    color: #4078c0; /* GitHub blue color */
  }
body{
    font-family: tahoma, Arial;
    position: relative;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    min-height: 80px;
    align-items: center;
}
header .logo{
    color: white;
    font-size: 25px;
}
header .logo span{
    color: yellow;
    font-size: 30px;
    padding-left: 10px;
}
header ul li{
    padding: 0 10px;
    color: white;
    font-size: 19px;
    font-weight: 500;
}
@media (max-width:767px) {
    header{
        padding: 10px;
        min-height: 35px;
    }
    header ul li{
        font-size: 12px !important;
    }
}
header ul li:hover{
    color: #FFACAC;
    cursor: pointer;
}
header .search-box{
    position: relative;
}
@media (max-width:991px) {
    header .search-box{
        display: none;
    }
}
header .search-box input{
    padding: 15px 20px 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}
header .search-box input:focus{
    border: none;
    outline: none;
}
header .search-box i{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
}
.landing{
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
}

.landing .container{
    padding: 0 15px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr
}
.landing .container .text{
    display: flex;
    flex-direction: column;
    padding: 50px 0 50px 50px;
    color: white;
}
.landing .container .text p{
    font-size: 30px;
}
.landing .container .text h1{
    font-size: 90px;
}
.landing .container .text .area{
    font-size: 50px;
    position: relative;
}
.landing .container .text .area span{
    font-size: 50px;
    animation-name: writing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    padding-top: 4px;
    animation: writing 1s infinite steps(2, start);
}
@media (max-width:991px) {
    .landong .container .text h1{
      font-size: 18px !important;
    }
    .landing .container .text .area{
        font-size: 15px;
    }
    .landing .container .text .area span{
        font-size: 15px;
        border-right: 1px solid white;
        padding-right:1px;
    }
}
@keyframes writing {
    0%{
        width:0;
        border-right: 1px solid transparent;
    }
    100%{
        width:100%;
        border-right: 1px solid transparent;
        /* border-right: 1px solid white; */
    }
}
.landing .container .text .inputs{
    display: flex;
    gap: 20px;
    margin: 30px 0;
}
.landing .container .text input{
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 7px;
    color: white;
    background: linear-gradient(to right, aquamarine, rgb(77, 77, 218), #b570d4, rgb(167, 66, 83));
    border: none;
}
@media (max-width:991px) {
    .landing .container .text input{
        padding: 5px 15px;
        font-size: 12px;
    } 
}
.landing .container .image{
    height: calc(100vh - 100px);
}
@media (max-width:991px) {
    .landing .container .image{
        display: none;
    } 
}
.landing .container .image img{
    width: 100%;
}
.landing .container .media{
    position: absolute;
    bottom: 80px;
    right: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 22px;
    color: black;
}
a {
    display: block;
    color: rgb(218, 212, 212);
    transition: 0.3s;
}
/* Start Background from https://wweb.dev/  */
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.background span:nth-child(0) {
    color: #E45A84;
    top: 11%;
    left: 4%;
    animation-duration: 34s;
    animation-delay: -7s;
    transform-origin: 11vw 11vh;
    box-shadow: -40vmin 0 5.2454483804247385vmin currentColor;
}
.background span:nth-child(1) {
    color: #FFACAC;
    top: 64%;
    left: 74%;
    animation-duration: 40s;
    animation-delay: -35s;
    transform-origin: -13vw 3vh;
    box-shadow: 40vmin 0 5.482226349348889vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 60%;
    left: 98%;
    animation-duration: 15s;
    animation-delay: -6s;
    transform-origin: 24vw 17vh;
    box-shadow: -40vmin 0 5.746922325865497vmin currentColor;
}
.background span:nth-child(3) {
    color: #583C87;
    top: 33%;
    left: 83%;
    animation-duration: 44s;
    animation-delay: -21s;
    transform-origin: -24vw 24vh;
    box-shadow: -40vmin 0 5.6932952725155vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 75%;
    left: 61%;
    animation-duration: 45s;
    animation-delay: -19s;
    transform-origin: 9vw 6vh;
    box-shadow: -40vmin 0 5.034395721980756vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 40%;
    left: 17%;
    animation-duration: 10s;
    animation-delay: -25s;
    transform-origin: -9vw 23vh;
    box-shadow: 40vmin 0 5.358958587103897vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 73%;
    left: 66%;
    animation-duration: 37s;
    animation-delay: -37s;
    transform-origin: 9vw -9vh;
    box-shadow: -40vmin 0 5.86873283940853vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 5%;
    left: 23%;
    animation-duration: 45s;
    animation-delay: -8s;
    transform-origin: 4vw 24vh;
    box-shadow: 40vmin 0 5.80972750944301vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 20%;
    left: 38%;
    animation-duration: 22s;
    animation-delay: -37s;
    transform-origin: -13vw -5vh;
    box-shadow: -40vmin 0 5.1442133760697395vmin currentColor;
}
.background span:nth-child(9) {
    color: #FFACAC;
    top: 89%;
    left: 49%;
    animation-duration: 40s;
    animation-delay: -5s;
    transform-origin: 13vw 15vh;
    box-shadow: -40vmin 0 5.942008135319801vmin currentColor;
}
.background span:nth-child(10) {
    color: #E45A84;
    top: 26%;
    left: 25%;
    animation-duration: 6s;
    animation-delay: -40s;
    transform-origin: -18vw 6vh;
    box-shadow: -40vmin 0 5.3165327101717255vmin currentColor;
}
.background span:nth-child(11) {
    color: #FFACAC;
    top: 24%;
    left: 31%;
    animation-duration: 54s;
    animation-delay: -35s;
    transform-origin: 9vw 20vh;
    box-shadow: -40vmin 0 5.384040375676663vmin currentColor;
}
.background span:nth-child(12) {
    color: #583C87;
    top: 2%;
    left: 98%;
    animation-duration: 13s;
    animation-delay: -1s;
    transform-origin: -18vw -24vh;
    box-shadow: 40vmin 0 5.628096760181647vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 28%;
    left: 41%;
    animation-duration: 19s;
    animation-delay: -32s;
    transform-origin: -14vw -1vh;
    box-shadow: 40vmin 0 5.452703379151443vmin currentColor;
}
.background span:nth-child(14) {
    color: #583C87;
    top: 43%;
    left: 24%;
    animation-duration: 51s;
    animation-delay: -35s;
    transform-origin: 8vw -18vh;
    box-shadow: -40vmin 0 5.667784825382091vmin currentColor;
}
.background span:nth-child(15) {
    color: #FFACAC;
    top: 30%;
    left: 42%;
    animation-duration: 52s;
    animation-delay: -16s;
    transform-origin: -14vw -16vh;
    box-shadow: 40vmin 0 5.306141896781702vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 33%;
    left: 88%;
    animation-duration: 18s;
    animation-delay: -18s;
    transform-origin: 1vw -4vh;
    box-shadow: 40vmin 0 5.938160672528837vmin currentColor;
}
.background span:nth-child(17) {
    color: #E45A84;
    top: 85%;
    left: 61%;
    animation-duration: 25s;
    animation-delay: -28s;
    transform-origin: -3vw -12vh;
    box-shadow: 40vmin 0 5.410166415774265vmin currentColor;
}
.background span:nth-child(18) {
    color: #E45A84;
    top: 64%;
    left: 96%;
    animation-duration: 32s;
    animation-delay: -36s;
    transform-origin: -5vw -10vh;
    box-shadow: 40vmin 0 5.539508658485465vmin currentColor;
}
.background span:nth-child(19) {
    color: #583C87;
    top: 4%;
    left: 89%;
    animation-duration: 34s;
    animation-delay: -46s;
    transform-origin: -6vw 17vh;
    box-shadow: -40vmin 0 5.675780907529832vmin currentColor;
}
/* End Background from https://wweb.dev/  */
/* Start Animation */
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
} */
/* End Animation

@media (max-width:767px) {
    h1{
        font-size: 16px !important;
    }
    h2{
        font-size: 14px !important;
    }
    h3{
        font-size: 12px !important;
    }
    h4{
        font-size: 10px !important;
    }
    p{
        font-size: 8px !important;
    }
    a{
        font-size: 12px !important;
    }
}
